@charset "UTF-8";

/*
-------------------------------*/
html {
    font-size: 100%;
}

body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", "Black Han Sans", sunflower sans-serif;
    line-height: 1.7;
    color: #432;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* content
----------------------- */

 .con-title {
    text-align: center;
    margin-top: 10%;
}

.con-title p{
    font-size: 1.5rem;
    margin: 10px 0 42px;
}

/* 제목 */
.page-title{
    font-size: 5rem;
    font-family: 'Black Han Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: bold;
}

.sub-title{
    font-family: 'Sunflower', sans-serif;
    font-weight: normal;
}
/* 버튼 */
.button{
    font-size: 3.7rem;
    background: #0bd;
    color: #fff;
    border-radius: 15px;
    padding: 18px 32px;
}
.button:hover{
    background: #0090aa;
}

.con-title .title-start-btn{
    display: block;
    width: 80%; height: 70px;
    margin: 10% auto 2%;
    border-radius: 10px;
    border: 0px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}
.con-title .title-start-btn:hover{
    background-color: #33A8FF;
}

.con-quest{
    min-height: 100vh;
    padding-top: 30px;
    display: block;
    text-align: left;
}

.con-quest .nav{
    text-align: center;
}
.con-quest .quest-number{
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    color: #33A8FF;
}
.con-quest .quest-process{
    display: inline-block;
    margin-left: 50%;
    color: #B7B7B7;
}

.con-quest .quest-title{
    font-size: 18px;
    line-height: 1.5;
    margin: 24px auto 40px;
    text-align: center;
    width: 80%; min-height: 100px;
}
.con-quest img{
    display: block;
    margin: 0 auto 20px;
    width: 50%;
}

.con-quest .option{
    margin: 0 auto;
    display: block;
    width: 80%;
    height: auto;
}
.con-quest .quest-option{
    border: 0px;
    margin-bottom: 3%; padding: 15px 30px; border-radius: 16px;
    text-align: center; font-size: 15px; line-height: 1.6;
    background-color: #000;
    color: #fff;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-quest .quest-option:hover{
    background-color: #33A8FF;
}


.con-quest .quest-option p:hover{
    color: #000;
}
