@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0ox; margin: 0px; text-decoration: none; list-style: none; box-sizing: border-box; color: #000;
    -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;
}

body{
    min-width: 320px;
    max-width: 460px;
    max-width: 460px;
    margin: 0 auto;
}

.con{
    text-align: center; font-family: 'Noto Sans KR',sans-serif;
}

/* 시작화면 */
.con-title{
    min-height: 100vh;
    padding-top: 30px;
    display: block;
}
.con-title h1{
    margin-top: 14%;
    color: #33A8FF;
    font-size: 30px;
}
.con-title p{
    margin-top: 12px;
}
.con-title img{
    margin-top: 10%;
    width: 80%;
}

.con-title .title-start-btn{
    display: block;
    width: 80%; height: 70px;
    margin: 10% auto 2%;
    border-radius: 10px;
    border: 0px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}
.con-title .title-start-btn:hover{
    background-color: #33A8FF;
}


/* 질문화면 */
.con-quest{
    min-height: 100vh;
    padding-top: 30px;
    display: block;
    text-align: left;
}

.con-quest .nav{
    text-align: center;
}
.con-quest .quest-number{
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    color: #33A8FF;
}
.con-quest .quest-process{
    display: inline-block;
    margin-left: 50%;
    color: #B7B7B7;
}

.con-quest .quest-title{
    font-size: 18px;
    line-height: 1.5;
    margin: 24px auto 40px;
    text-align: center;
    width: 80%; min-height: 100px;
}
.con-quest img{
    display: block;
    margin: 0 auto 20px;
    width: 50%;
}

.con-quest .option{
    margin: 0 auto;
    display: block;
    width: 80%;
    height: auto;
}
.con-quest .quest-option{
    border: 0px;
    margin-bottom: 3%; padding: 15px 30px; border-radius: 16px;
    text-align: center; font-size: 15px; line-height: 1.6;
    background-color: #000;
    color: #fff;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-quest .quest-option:hover{
    background-color: #33A8FF;
}


.con-quest .quest-option p:hover{
    color: #000;
}

/* 분석화면 */
.con-analysis{
    font-family: 'Noto Sans KR',sans-serif;
    min-height: 100vh;
    padding: 30px 0px;
    display: block;
    background-color: #fff;
}

.con-analysis h3{
    text-align: center;
    color: #33A8FF;
    margin-top: 50%;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: bold;
}
.con-analysis p{
    width: 80%;
    margin: 0 auto 108px;
    text-align: center;
    font-size: 16px;
}
.con-analysis button{
    width: 80%; height: 60px;
    background-color: #000; color: #fff;
    border: 0px; border-radius: 10px;
    padding: 18px;
    font-size: 16px;
    margin: 0 auto 24px;
    display: block;
}


/* 결과화면-나의 결과 */
.fin{
    font-family: 'Noto Sans KR',sans-serif;
    min-height: 100vh;
    padding: 16px 0px 0px;
    background-color: #fff;
}

.con-my .logo{
    display: block;
    margin-left: 5%;
    width: 35%;
}

.con-my .my-img-cover{
    margin: 0 auto;
    width: 70%;
    margin-top: 30px;
}
.con-my .my-img-cover .result-main{
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

.con-my h2{
    font-size: 24px;
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
    width: 90%;
}

.con-my .percent{
    background-color: #754D2A;
    width: 90%;
    margin: 0 auto 48px;
    padding: 20px 0px 16px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.con-my .percent div{
    width: 45%;
}
.con-my .percent h4{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.con-my .percent p{
    color: #fff;
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.con-my .line{
    width: 60%;
    margin: 0 auto 35px;
    display: block;
}

.con-my .feedback{
    width: 90%; height: auto;
    margin: 0 auto;
    padding: 24px 18px;
    position: relative; /* 20201203 수정 */
}
.con-my .feedback h3{
    margin-bottom: 12px;
}
.con-my .feedback p{
    margin: 0px;
    text-align: justify;
    width: 100%;
    line-height: 1.8;
    white-space:pre-wrap;
}
.con-my .feedback .feedback-bg{ /* 20201203 수정 */
    background: #754D2A;
    opacity: 20%;
    border-radius: 8px;
    width: 100%; height: 100%;
    position: absolute; top: 0px; left: 0px;
}

.con-my h3{
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    margin: 12px auto 24px;
    text-align: center;
    color: #754D2A;
}
.con-my p{
    width: 90%;
    margin: 0px auto;
    margin-bottom: 46px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    white-space:pre-wrap;
}
/* 결과화면-나의 결과 끝 */

.other{
    font-family: 'Noto Sans KR',sans-serif;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 56px auto 72px;
}
.other .line{
    width: 70%;
    display: block;
    margin-top: 10px;
}
.other .img{
    width: 90%;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}
.other .good,.bad{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 결과화면-테스트 링크 공유 */
.sns-link p{ /* 20201214 수정 */
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 2%;
    text-align: start;
}
.sns-link .sns-link-nall{
    display: block;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.sns-link img{ /* 20201214 수정 */
    width: 16%;
    margin: 10px;
}

.sns-link .link{
    background-color: #dfdfdf;
    width: 90%;
    height: 40px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 3%;
    padding-left: 10px;
}
.sns-link .link input{
    border: none;
    background: none;
    line-height: 40px;
    width: 70%;
    font-size: 14px;
    padding: 0px;
}
.sns-link .link button{
    border-radius: 3px;
    border: none;
    height: 32px;
    width: 25%;
    float: right;
    margin: 4px;
    background-color: #222222;
    color: #fff;
}

.test-again{ /* 20201214 수정 */
    border: none;
    background-color: #000;
    color: #fff;
    width: 90%; height: 64px;
    font-size: 16px;
    border-radius: 10px;
    margin: 64px auto 16px;
    display: block;
}
/* 결과화면-테스트 링크 공유 끝 */

/* 팝업 */
/* 20201201 추가 */
.popup-bg{
    background: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100%;
    position: fixed; top: 0px; left: 0px;
    display: flex; align-items: center;
    z-index: 999;
}
.popup .exit{
    position: absolute;
    top: -50px; right: 0px;
    width: 32px; height: 32px;
}
.popup{
    background: #fff;
    width: 90%; height: auto;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    position: relative;
    padding: 10px;
}
.popup img{
    width: 30%; height: auto;
    margin-bottom: 24px; margin-top: 10px;
}
.popup h3{
    font-size: 28px;
}
.popup p{
    font-size: 16px; line-height: 1.6;
    margin: 16px 0px;
}
.popup p span{
    font-size: 20px; font-weight: 600;
}
.popup .tag{
    color: #33a8ff;
}
.popup .title-start-btn{
    width: 100%;
}
.popup .con-title{
    min-height: 0px;
    padding-top: 0px;
}

@media(min-width: 850px){
    .popup{
        width: 20%; min-width: 360px;
    }
    .popup img{
        width: 23%;
    }
    .popup .title-start-btn{
        width: 90%;
        margin: 32px auto 0px;
    }
}
.web-link{
    width: 90%; height: auto;
    background-color: #33A8FF; color: #fff;
    border: 0px; border-radius: 10px;
    padding: 18px;
    font-size: 16px; font-weight: bold; line-height: 1.6;
    margin: 0 auto 32px; /* 20201214 수정 */
    display: block;
}
